body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    position: relative;
    background-color: #2c2c2c;
    color: white;
    
  }

  .info-status{
    text-align: center;
    margin-top: 10px;
    /* padding-left: 100px; */
  }

  li{
    /* display: flex; */
    /* border: 2px solid rebeccapurple; */
    margin: 5px;
    position: relative;
    /* background-color: #2c2c2c; */
    padding: 2px;
    /* list-style-position: inside; */
    
    color: white;
   
  }


  li:last-child .new{
    width: 300px;
    height: 50px;
  }
  .new{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 5px;
  }
  .new:hover{
    /* width: 10px; */
    /* display: block; */
    /* transform-origin: 0% 0%; */
    /* transform: scale(1.5); */
    width: 300px;
    height: 50px;
    cursor: pointer;
  }

  .res{
    background-color: rgb(252, 23, 92);
    margin: 10px auto;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
  .game-board{
    position: relative;
    /* animation: winanim 4s   infinite ; */


  }


  @keyframes winanim{
    0%{
      border-top: 2px solid purple;
      border-top-left-radius: 10px;
    }
    35%{
      border-left: 2px solid purple;
    }
    70%{
      border-bottom: 2px solid purple;
    }

    100%{
      
      border-right: 2px solid purple;
    }
  }

  /* winning line */
  .tic-board{
    padding: 0;
    position: relative;
    /* animation: winanim 2s   infinite ; */
    
    
  }
  .win-line{

    /* position: absolute;
    width: 0.9%;
   
    height: 50%;
    top: -15%;
    left: 45%;
    
    box-sizing: content-box;
    outline: 2px solid red;
    background-color: blue; */
    position: absolute;
    width: 6%;
    height: 2%;
    top: -100%;
    background-color: blue;
    transform-origin: center center;
    transform: scaleX(1);
    transition: transform 2s;
    
  }



  .win-0{
    /* width: 0%; */
    /* top: 15%; */
    left: calc(50% - 6%/2);
    top: calc(100%/6 - 1%);
    transform: scaleX(14);
    /* transition: none; */
    /* animation: lineanime 2s; */
  
  }
  .win-1{
    left: calc(50% - 6%/2);
    top: calc(100%/2 - 1%);
    transform: scaleX(14);
  }
  .win-2{
    left: calc(50% - 6%/2);
    top: calc(100%/2 + 33% - 1%);
    transform: scaleX(14);
  }
  .win-3{

    width: 2%;
    height: 6%;
    left: calc(100%/6 - 1%);
    top: calc(50% - 6%/2);
    transform: scaleY(14);
  }
  .win-4{

    width: 2%;
    height: 6%;
    left: calc(100%/2 - 1%);
    top: calc(50% - 6%/2);
    transform: scaleY(14);
  }
  .win-5{

    width: 2%;
    height: 6%;
    right: calc(100%/6 - 1%);
    top: calc(50% - 6%/2);
    transform: scaleY(14);
  }
  .win-6{

    width: 2%;
    height: 6%;
    left: calc(100%/2 - 1%);
    top: calc(50% - 6%/2 - 1%);
    /* -webkit-transform : rotate(45deg) scaleY(14);  */
    transform         : rotate(-45deg) scaleY(17);
  }
  .win-7{

    width: 2%;
    height: 6%;
    left: calc(100%/2 - 1%);
    top: calc(50% - 6%/2 - 1%);
    /* -webkit-transform : rotate(45deg) scaleY(14);  */
    transform         : rotate(45deg) scaleY(17);
  }


  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .game {
      display: flex;
      /* flex-direction: row; */
      flex-direction: column;
    }
    .game-info {
      margin-left: 0px;
      position: relative;
      background-color: #2c2c2c;
      color: white;
      
    }
    .game-board{
      margin: auto;
      transform-origin: 0% 0%;
      margin-bottom: 150px;
      margin-left: 15vw;
      transform: scale(2.2);

    }
  }